#main {
  min-width: 970px;
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Comic Sans MS"; }

h1 {
  margin-bottom: 0px; }

h2 {
  margin-right: 250px;
  width: 250px;
  display: inline; }

a {
  text-decoration: none; }
  a:visited {
    text-decoration: none;
    color: blue; }

p {
  font-size: 80%; }

img {
  border-style: none; }

ul {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0; }

th {
  border-left: 1 px solid;
  border-right: 1 px solid;
  min-width: 100px; }

li {
  float: left; }

#banner {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px; }

#menu li {
  margin: 0px 20px 0px 20px; }

.pagination {
  text-align: center; }

#list {
  overflow: auto;
  height: 275px;
  min-width: 970px;
  max-width: 970px;
  font-size: 80%; }
  #list table {
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid;
    min-width: 950px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto; }
  #list td {
    border-left: 1 px solid;
    border-right: 1 px solid;
    min-width: 100px; }
  #list .list-line-even {
    background: white; }
  #list .list-line-odd {
    background: #eeeeee; }
  #list .header {
    background: #cccccc;
    text-align: left;
    border-top: 1 px solid; }
  #list .body {
    min-width: 300px;
    max-width: 300px; }
  #list .icons {
    background: white;
    border: 1px solid;
    border-color: white white white black; }
  #list th.header#author-name {
    min-width: 665px;
    max-width: 665px; }

h2#image-label {
  text-align: center;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

img#avatar {
  margin-right: auto;
  margin-left: auto;
  display: block; }

#edit-table label {
  vertical-align: top;
  display: block;
  float: left;
  margin-right: 30px;
  text-align: right;
  width: 100px; }
#edit-table #submit {
  margin-left: 130px; }

#create {
  margin-left: 130px; }

#edit-table input, textarea, #author_photo {
  border: 2px solid;
  margin-bottom: 18x; }

#edit-actions a {
  margin-right: 70px; }

/* The error box */
.fieldWithErrors {
  padding: 2px;
  background-color: #eeffee;
  display: inline; }
  .fieldWithErrors * {
    background-color: #cc0000; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  float: right;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 5px; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square;
    float: none; }

#work-list {
  float: none;
  text-align: center; }
