%h2 Game List
%table.userSpecifiedTable#centerdTable
  %tr.rowHeaders
    %th.userTableElem Title
    %th.userTableElem Rating
    %th.userTableElem Date Added
  = will_paginate @games
  - for game in @games
    %tr{:class => cycle('list-line-odd','list-line-even')}
      %td.userTableElem=h game.title
      %td.userTableElem=h game.get_rating
      %td.userTableElem=h "#{game.created_at.strftime("%b %d, %Y")} by #{game.user.get_full_name}"
