%p
  = image_tag @user.photo.url
%p
  %strong Username:
  =h @user.username
%p
  %strong Email:
  =h @user.email
%p
  %strong First Name:
  =h @user.first_name
%p
  %strong Last Name:
  =h @user.last_name

%p
  = link_to "Edit", edit_user_path(@user)
  |
  = link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", users_path
