body {
  margin-left: auto;
  margin-right: auto;
  font-family: "Comic Sans MS"; }

#main {
  min-width: 800px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

h1 {
  text-align: center; }

#loginPage {
  text-align: center; }

/* The error box */
.fieldWithErrors {
  padding: 2px;
  background-color: #eeffee;
  display: inline; }
  .fieldWithErrors * {
    background-color: #ffcccc; }

#errorExplanation {
  width: 300px;
  display: block;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  text-align: left;
  float: right;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 5px; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square;
    float: none; }

#work-list {
  float: none;
  text-align: center; }

.flashError {
  margin-left: auto;
  margin-right: auto;
  background-color: #ffcccc;
  border: 1px solid red;
  width: 600px;
  text-align: center;
  font-weight: bold;
  padding: 5px; }

.flashNotice {
  margin-left: auto;
  margin-right: auto;
  background-color: #ccffcc;
  border: 1px solid green;
  width: 600px;
  text-align: center;
  font-weight: bold;
  padding: 5px; }

.personalBar {
  display: block;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 5px; }

.adminBar {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }
  .adminBar ul {
    list-style-type: none;
    overflow: hidden;
    border: 2px solid black;
    margin: 0;
    padding: 0; }
  .adminBar li {
    float: left; }
    .adminBar li:hover {
      background: #e0e0e0; }
  .adminBar a {
    padding: 20px 30px 20px 30px; }
    .adminBar a:link, .adminBar a:visited {
      text-decoration: none;
      color: black; }

.editForm {
  float: left;
  text-align: left;
  min-width: 800px; }
  .editForm p {
    margin: 5px; }
  .editForm label {
    width: 100px;
    display: inline-block; }
  .editForm img {
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .editForm #userSubmit {
    margin-top: 10px;
    margin-left: 110px; }

.list-line-even {
  background: white; }

.list-line-odd {
  background: #eeeeee; }

.rowHeaders {
  background: #cccccc; }

table#centerdTable {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

td, th {
  border-left: 1px solid black;
  border-right: 1px solid black;
  min-width: 175px; }

#userOptions {
  min-width: 15px;
  max-width: 15px; }

.pagination {
  text-align: center; }

a:link, a:visited {
  color: blue; }

table {
  border: 2px solid black;
  border-collapse: collapse; }
