body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Comic Sans MS"; 
}

#main {
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* The error box */
.fieldWithErrors {
  padding: 2px;
  background-color: #eeffee;
  display: inline; }
  .fieldWithErrors * {
    background-color: #FFCCCC; }

#errorExplanation {
  width: 300px;
  display: block;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  text-align: left;
  float: right;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 5px; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square;
    float: none; }

#work-list {
  float: none;
  text-align: center; }


/*
Project 6 specifically created css after here --->
*/


.flashError {
  margin-left: auto;
  margin-right: auto;
  background-color: #FFCCCC;
  border: 1px solid red; 
  width: 600px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.flashNotice {
  margin-left: auto;
  margin-right: auto;
  background-color: #CCFFCC;
  border: 1px solid green; 
  width: 600px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.personalBar {
  display: block;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 5px;
}

.adminBar ul{
  list-style-type: none;
  overflow: hidden;
  border: 2px solid black;
  margin: 0;
  padding: 0;
}

.adminBar li {
  float: left;
  padding: 5px 30px 5px 30px;
}

.adminBar a:link {
  text-decoration: none;
  color: black;
}

.adminBar a:visited {
  text-decoration: none;
  color: black;
}