%h2 Roles

%table.userSpecifiedTable
  %tr.rowHeaders
    %th.userTableElem Name
    %th.userTableElem Number of Users
  - for role in @roles
    %tr{:class => cycle('list-line-odd','list-line-even')}
      %td.userTableElem= link_to role.name, edit_admin_role_path(role)
      %td.userTableElem= role.users_count

