body{
	background-color:#A8A8A8;
	font-family:"Arial","sans-serif";
}

div.main{
	background-color:#FBFBFB;
	margin-left:3%;
	margin-right:3%;
	margin-top:-30px;
	border-style:solid;
	border-width:1px;
}	

div.banner{
	background-color:#CACACA;
	padding-bottom:.5em;
	font-weight:900;
}

#title{
	margin-bottom:0px;
	margin-left:10px;
	letter-spacing:-2px;
	font-size:33px;
}

#subtitle{
	color:gray;
	font-size:.75em;
	margin-left:10px;
	margin-top:-2em;
}

div.menuBar{
	background-color:black;
	margin-bottom:-15px;
}

div.menuBar ul{
	list-style-type:none;
	margin:0;
	margin-left:-40px; /*Not sure why I have to do this but it works*/
	overflow:hidden;
}

div.menuBar li{
	float:left;
}

div.menuBar a:link,a:visited{
	display:block;
	text-align:center;
	font-weight:bold;
	color:white;
	text-decoration:none;
	padding:.45em .85em .45em .85em;
}

/* Used as tooltips */
div.menuBar span{
	display:none;
	margin-left:2em;
	margin-top:0.5em;
	font-weight:normal;
	width:8em;
}

div.menuBar a:hover{
	background-color:#444444;
}

/* Used to make span appear as a tooltip on hover*/
div.menuBar a:hover span{
	display:block;
	position:absolute;
	background:#FFFFE1;
	color:black;
}

div.userInput{
	margin-left:10px;
	width:50%;
}

div.userInput #button{
	font-size:75%;
	margin-left:46%;
	margin-top:10px;
}


div.currentProgress{
	background-color:#F0EEFE;
}

#footer{
	background-color:#EFEFEF;
	text-align:center;
}