body{
	background-color:#A8A8A8;
}

div.banner{
	background-color:#CACACA;
}

#title{
	color:blue;
}

div.menuBar{
	background-color:black;
}

div.menuBar ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

div.menuBar li{
	float:left;
}

div.menuBar a:link,a:visited{
	display:block;
	width:120px;
	text-align:center;
	color:white;
	padding:4px;
	text-decoration:none;
}

div.menuBar a:hover{
	background-color:#444444;
}

div.main{
	background-color:#FBFBFB;
}	

div.currentProgress{
	background-color:#F0EEFE;
}

#footer{
	background-color:#EFEFEF;
	text-align:center;
}